.button-resume-skills-card{
    padding-top: 10px;
    width:100%;
}
.button-resume-skills-card a{
    display: inline-block;
    padding: 10px 15px;
    background-color: rgb(0, 221, 216);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(200,200,200);
}
.button-resume-skills-card a:hover{
    background-color: rgb(51, 61, 73);
    box-shadow: 5px 5px 5px rgb(200,200,200);
}
@media (min-width: 500px) {
  
}

